html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}
abbr[title], dfn[title] {
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input, select {
    vertical-align:middle;
}
/* remember to define focus styles! */
:focus {
	outline-style:dotted;
	outline-color:#ABD3E8;
}
ol, ul {
	list-style: none;
}
header h1 {
	text-transform:uppercase;
	font-style: normal;
  padding-bottom:40px;
}
a {
	text-decoration:none;
}
img {
	max-width:100%;
}
/* Clearfix */
.header:after, ul:after, .footer:after, .content:after, .quotes:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.accessibility, span.accessibility {
	position:absolute;
	left:-9999px;
}
/* Basic styles */

html, * {
	margin: auto;
	padding:0;
}
body {
	font-size:62.5%;
	line-height: 1;
	text-align:left !important;
	margin:0 auto;
	color:#000;
	font-family:Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
}
h2 {
	font-size:2em;
	margin:20px 0 10px 0;
}
.about h2 {
  font-size:3em;
}
h3 {
	font-size:1.8em;
	margin:20px 0 10px 0;
}
p, li {
	font-size:1.6em;
	line-height:1.6em;
}
header h1 {
	color:#000;
	font-size:5.2em;
}
header h1 span {
	font-size:0.5em;
	line-height:0.5em;
}
p {
	color:#2B373D;
	font-size:1.6em;
	line-height:1.em;
	margin-top:20px;
}
h2 span {
	font-family: Baskerville, Palatino, "Palatino Linotype", "Apple Chancery", "Book Antiqua", constantia, georgia, serif;
  	font-style: italic;
    font-weight:normal;
}
a {
	color:#1BA5C2;
}
a:hover, a:active, a:focus {
	text-decoration:underline;
}
a:visited {
	color:#purple;
}
header {
	margin:0 auto 3 auto;
	padding-top:20px;
	border-bottom:1px solid #fff;
  text-align: center;
}
article {
	margin: 0;
}
blockquote {
	font-size:1.2em;
	font-style:italic;
	margin:0 auto;
	text-align:center;
  float:left;
  padding-bottom:10px;
  width:33%;
}
blockquote a {
	line-height:1.2em;
	font-style:normal;
}
cite {
	display:block;
	font-style:normal;
	font-size:1.2em;
	text-align:center;
	color: #949494;
}
.quotes {
  width: 100%;
  border-bottom:1px solid #000;
  border-top: 1px solid #000;
  margin-bottom:40px;
}
footer {
	margin:0 auto;
	padding:30px 0;
  clear:both;
}
/* iPad only[portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	header h1 { -webkit-text-size-adjust: none;}
}
.wrapper {
  margin: 0 auto;
  max-width:1400px;
  padding: 0 4%;
}
.speaking .wrapper {
  max-width:600px;
  margin: 0 auto;
  background:rgba(255,255,255,0.25);
  padding-bottom:40px;
}
.about, .resume {
  float:left;
  width:50%;
}
.projects .wrapper {
  max-width:700px;
  margin: 0 auto;
}
.projects article {
  float:left;
  padding: 20px;
  margin-right:20px;
}
.projects article img {
	float:left;
	margin-right:10px;
	margin-top:5px;
}
.projects p {
	margin-top:0;
}
.resume {
  clear:left;
}
iframe {
  width:100%;
}
@media only screen and (max-width: 768px) {
    .about, .resume {
      width:100%;
  }
}
@media only screen and (max-width: 420px) {
     .quotes blockquote {
        width:100%;
        float:none;
        clear:both;
    }
  }